{% extends "base.html" %}

{% block content %}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Power BI Dashboard</h6>
    </div>
    <div class="card-body">

            <iframe title="EXL DAMI dashboard - 01Dec22" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=01e90c2b-7675-4846-bfaf-bc99e9ccc82b&autoAuth=true&ctid=dafe49bc-5ac3-4310-97b4-3e44a28cbf18" frameborder="0" allowFullScreen="true"></iframe>

        <hr>
        Styling for the area chart can be found in the
        <code>/js/demo/chart-area-demo.js</code> file.
    </div>
</div>

{% endblock %}
