{% extends "base.html" %}

{% block content %}
<div class="p-8 p-8 mt-6 lg:mt-0 rounded shadow bg-white card-body ">
    <div class="col-md-4">
        <form method="POST">
            {% csrf_token %}
            {% if form.errors %}
                <div class="text-center bg-red-200 my-2 py-4 rounded">
                    Please correct the errors below in your form.
                </div>
                {% for error in form.non_field_errors %}
                    {% include "includes/form_field_error.html" with error=error %}
                {% endfor %}
            {% endif %}
            {% include "includes/form_input.html" with field=form.first_name %}

            {% include "includes/form_input.html" with field=form.last_name %}

            {% include "includes/form_input.html" with field=form.email %}

            {% include "includes/form_input.html" with field=form.username %}

            {% include "includes/form_select.html" with field=form.time_zone %}
            
            <div class="flex mt-4 justify-end">
                <button type="submit" class="btn btn-secondary">Save</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
