<div class="sm:grid sm:grid-cols-2 sm:gap-4 sm:items-start sm:border-b sm:border-gray-200 py-2 sm:py-5">
    <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-700">
        {% include "includes/form_label_text.html" with field=field %}
    </label>
    <div class="mt-1">
        <select
                name="{% if form.prefix %}{{ form.prefix }}-{% endif %}{{ field.name }}"
                id="{{ field.id_for_label }}"
                class="p-2 max-w-lg shadow-sm block w-full focus:hover:ring-gray-500 focus:border-gray-500 sm:text-sm border-1 border-gray-300 rounded-md"
                {% if field.field.disabled %} disabled {% endif %}
        >
          {% for x, y in field.field.choices %}
            <option value="{{ x }}"{% if field.value == x %} selected{% endif %}>{{ y }}</option>
          {% endfor %}
        </select>

      {% for error in field.errors %}
        {% include "includes/form_field_error.html" with error=error %}
      {% endfor %}
    </div>
</div>
